// Variables
@import "./custom-vuetify.scss";
@import "./sidebar.scss";
@import "../_variables.scss";

.custom-main {
  background-color: $body-bg;
  height: 100%;
}
.custom-main-padding {
  padding: 20px;
}
.background-btn-color {
  background-color: $blue;
  cursor: pointer;
  color: white;
}
