@import "../_variables.scss";

// sidebar style
.logo .v-img__img--cover {
  object-fit: fill;
}
.logo .v-img__img {
  width: 100%;
  height: 100%;
}
.logo .v-avatar.v-avatar--size-default {
  --v-avatar-height: 70px;
}
.logo {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10px;
}

// custom-add-dialog
.custom-add-dialog {
}
.i-btn-add {
  margin-bottom: 0px !important;
  border-radius: 10px;
  margin-right: 15px;
  height: calc(var(--v-btn-height) + 5px) !important;
  // background-color: $blue;
  &.text-info {
    color: #fff !important;
  }
}
// custom table style
.custom-table {
  border-radius: $borderRadius !important;
  overflow: hidden;
  .custom-toolbar {
    border-bottom: 1px solid rgba(128, 128, 128, 0.577);
    display: flex;
    justify-content: space-between;
  }
  .custom-edit {
    margin-right: 5px;
    background: green;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center !important;
    display: flex;
    justify-content: center !important;
  }
  .custom-delete {
    background: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center !important;
    display: flex;
    justify-content: center !important;
  }
}

//custom button search
.v-field--variant-solo,
.v-field--variant-solo-filled {
  background: none !important;
}
.btn-search {
  border: 1px solid #e0e0e0;
  border-radius: $borderRadius;
  .v-field__field {
    background-color: white;
    border-radius: $borderRadius;
  }
  .v-field--variant-solo-filled .v-field__overlay {
    background-color: white !important;
  }
}
